body {
  margin: 0px;
}

main {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "a b";
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  grid-gap: 50px;
  margin: 50px;
}

@media all and (max-width: 800px) {
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

main .cartes {
  height: 400px;
  width: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 0px 6px 6px #e7e2e2;
          box-shadow: 0px 0px 6px 6px #e7e2e2;
}

main .cartes p {
  text-transform: uppercase;
  font-size: 30px;
  font-family: 'Kalam', cursive;
}

main .cartes a {
  text-decoration: none;
  text-align: center;
}

.note,
.note a {
  background-color: #fcdfdb;
  color: #3c1218;
}

.note i,
.note a i {
  color: #f05160;
}

.note h2,
.note a h2 {
  font-family: 'Courgette', cursive;
  font-size: 25px;
}

.chic,
.chic a {
  background-color: #fff5fe;
  color: #905bfd;
}

.chic h2,
.chic a h2 {
  font-family: 'Croissant One', cursive;
  font-size: 21px;
  color: #905bfd;
}

.delice,
.delice a {
  background-color: #f9f9f9;
  color: #0887fb;
}

.delice h2,
.delice a h2 {
  font-family: 'Alex Brush', cursive;
  font-size: 35px;
  color: #55acfb;
}

.palette,
.palette a {
  background-color: #fdfffd;
  color: #79c45c;
}

.palette h2,
.palette a h2 {
  font-family: 'Kaushan Script', cursive;
  font-size: 30px;
  color: #42973c;
}

.soon {
  margin: 0 auto 40px;
  font-size: 30px;
  border-radius: 20px;
  width: 300px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.shake:hover {
  -webkit-animation: shake 1s ease-in-out;
          animation: shake 1s ease-in-out;
}

@-webkit-keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake {
  10%,
  90% {
    -webkit-transform: translate3d(-1px, 0, 0);
            transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    -webkit-transform: translate3d(2px, 0, 0);
            transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    -webkit-transform: translate3d(-4px, 0, 0);
            transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    -webkit-transform: translate3d(4px, 0, 0);
            transform: translate3d(4px, 0, 0);
  }
}

.dots {
  content: ".";
  -webkit-animation: dots 2s steps(4, end) infinite;
          animation: dots 2s steps(4, end) infinite;
}

@-webkit-keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}

@keyframes dots {
  0%,
  20% {
    color: rgba(0, 0, 0, 0);
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  40% {
    color: #fdcb46;
    text-shadow: 0.25em 0 0 rgba(0, 0, 0, 0), 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  60% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 rgba(0, 0, 0, 0);
  }
  80%,
  100% {
    text-shadow: 0.25em 0 0 #fdcb46, 0.5em 0 0 #fdcb46;
  }
}

.zoom-menus {
  text-align: center;
}

.zoom-menus:hover {
  overflow: hidden;
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
  opacity: 0.8;
}

.menu-chic {
  background-color: #fff5fe;
  font-size: 25px;
  display: inline-block;
}

.menu-palette {
  background-color: #fdfffd;
  font-family: 'Kausha $palette-bgn Script', cursive;
}

.menu-papilles {
  background-color: #f9f9f9;
  font-family: 'Alex Brush', cursive;
}

.menu-papilles p {
  font-size: 35px;
}

.menu-note {
  background-color: #fcdfdb;
  color: #3c1218;
  font-family: 'Courgette', cursive;
  font-size: 25px;
}

.menu-note .underline-note {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(5%, #3c1218), color-stop(5.01%, transparent)) no-repeat;
  background: linear-gradient(to top, #3c1218 5%, transparent 5.01%) no-repeat;
  background-size: 0 100%;
  -webkit-transition: background-size 800ms;
  transition: background-size 800ms;
}

.menu-note .underline-note:hover {
  background-size: 100% 100%;
}

.menu-note .titre-top {
  text-align: center;
  font-size: 20px;
  margin-top: 50px;
}

.menu-note .titre-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 20px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.menu-note .titre-bottom h3 {
  margin-left: 10px;
}

.menu-palette {
  background-color: #fdfffd;
  font-family: 'Kausha $palette-bgn Script', cursive;
}

.header {
  height: 100px;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header a {
  text-decoration: none;
  color: #fdcb46;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px;
  font-size: 30px;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  left: 0;
}

.footer a {
  text-decoration: none;
  color: #fdcb46;
}

.style {
  background-color: #579c87;
  color: #fdcb46;
  font-family: "Montserrat", sans-serif;
}

/*MENUS TEMPLATE CSS ET RESPONSIVE*/
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 25px;
  margin: 5% 10% 5% 10%;
}

.menu section {
  width: 90%;
  margin-bottom: 20px;
}

.menu section > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu section > div > p {
  max-width: 80%;
}

.menu section > div .prix {
  font-weight: bold;
}

.menu section h3 {
  text-align: center;
  margin: auto;
}

.trait {
  width: 30%;
  height: 15px;
}
/*# sourceMappingURL=style.css.map */