

.menu-chic {
    background-color: #fff5fe;
    font-size: 25px;
    display: inline-block;


}

.titre-chic {
    font-family:'Croissant One', cursive;
    @include linear-gradient(#d8852e, #905bfd);

    @media all and (max-width: 550px) {
        font-size: 18px;
    }
}

.entrees-chic {
    color: #c77412;

    .underline-chic-entrees {
        @include underline(#c77412);
    }
}

.plats-chic {
    color: #a56799;

    .underline-chic-plats {
        @include underline(#a56799);
    }
}

.desserts-chic {
    color: #6e4ccc;

    .underline-chic-desserts {
        @include underline(#6e4ccc);
    }
}

