body {
  margin: 0px;
}



main {
  display: grid;
  grid-template-areas: "a b";
  justify-content: center;
  grid-gap: 50px;
  margin: 50px;

  @media all and (max-width: 800px) {
    @include flex-column-center;
  }


  .cartes {
    height: 400px;
    width: 300px;
    @include flex-column-center;
    box-shadow: 0px 0px 6px 6px #e7e2e2;




    p {
      text-transform: uppercase;
      font-size: 30px;
      font-family: 'Kalam', cursive;
    }

    a {
      text-decoration: none;
      text-align: center;
    }

  }
}

.note,
.note a{
  
  background-color: #fcdfdb;
  color: #3c1218;
  
  i {
    color: #f05160;
  }


  h2 {
    font-family: 'Courgette', cursive;
    font-size: 25px;
  }
}

.chic,
.chic a {
  background-color: #fff5fe;
  color: #905bfd;

  h2 {
    font-family: 'Croissant One', cursive;
    font-size: 21px;
    color: #905bfd;
  }
}

.delice,
.delice a {
  background-color: #f9f9f9;
  color: #0887fb;

  h2 {
    font-family: 'Alex Brush', cursive;
    font-size: 35px;
    color: #55acfb;
  }
}

.palette,
.palette a {
  background-color: #fdfffd;
  color: #79c45c;

  h2 {
    font-family: 'Kaushan Script', cursive;

    font-size: 30px;
    color: #42973c;
  }
}




.soon {
  margin: 0 auto 40px;
  font-size: 30px;
  border-radius: 20px;
  width: 300px;
  height: 50px;
 @include flex-centre ;
}