

.menu-note {
    
    background-color:#fcdfdb;
    color: #3c1218;
    font-family:  'Courgette', cursive;
    font-size: 25px;
    @media all and (max-width: 500px) {
        font-size: 14px;
    }
    .underline-note {
     @include underline(#3c1218);
    }
i {
    @include linear-gradient(#f05160, #f6916a);
  }

  .titre-top {
    text-align: center;
    font-size: 20px;
    margin-top: 50px;
    @media all and (max-width: 500px) {
        font-size: 13px;
    }

    h2 {
        font-size: 40px;

        @media all and (max-width: 500px) {
            font-size: 20px;
        }
    }
}


.titre-bottom {
    display: flex;
    margin: 20px;
    align-items: baseline;

    h3 {
        margin-left: 10px;
        
    }
}
}