
.menu-palette {
    background-color: #fdfffd;
    font-family: 'Kausha $palette-bgn Script', cursive;;
   
    }

    .titre-palette {
        font-size: 60px;
        
        @include linear-gradient(#42973c, #bfff7e);
     
        @media all and (max-width: 550px) {
            font-size: 28px;
        }

    }
