.menu {
    font-size: 25px;
    margin: 5% 10% 5% 10%;

    @each $name,
    $theme in $menu-themes {
        &--#{$name} {
            background-color: map-get($theme, background-color);

            a {
                color: map-get($theme, link-color);
            }


            @if map-get($theme, image-color-start) {
                i {
                    @include linear-gradient(map-get($theme, image-color-start), map-get($theme, image-color-stop));
                }
            }


            h2 {

                font-family: map-get($theme, font-family);
                font-size: map-get($theme, font-size);
                @include linear-gradient(map-get($theme, gradient-color-start), map-get($theme, gradient-color-stop));
            }


        }
    }


    &__cover {
        text-align: center;
        p {
            text-transform: uppercase;
            font-size: 30px;
            font-family: 'Kalam', cursive;
        } 
        
            &:hover {
                .zoom-menus{
                overflow: hidden;
                transform: scale(1.15);
                transition: transform 0.6s ease-in-out;
                opacity: 0.8;
            }
    }}



    section {
        width: 90%;
        margin-bottom: 20px;

        @media all and (max-width: 900px) {
            padding: 10px;
        }


        >div {
            display: flex;
            justify-content: space-between;
            align-items: center;

            >p {
                max-width: 80%;
            }

            .prix {
                font-weight: bold;
            }
        }

        h3 {
            text-align: center;
            margin: auto;
        }
    }
}

.trait {
    width: 30%;
    height: 15px;

    @media all and (max-width: 900px) {
        width: 25%;
        height: 10px;
    }

    @media all and (max-width: 700px) {
        display: none;
    }
}