.menu-chic {
  background-color: #fff5fe;
  font-size: 25px;
}

.titre-chic {
  font-family: 'Croissant One', cursive;
}

.entrees-chic-clr {
  color: #c77412;
}

.plats-chic-clr {
  color: #a56799;
}

.desserts-chic-clr {
  color: #6e4ccc;
}
